# Role setting
VITE_ROLE=LAGITCHECKER

# Backend API Base URL (FastAPI backend running locally or in production)
VITE_API_BASE_URL=http://localhost:8090

# Image / Static assets base URL
VITE_IMAGE_BASE_URL=http://localhost:8090

# WebSocket URL
VITE_SOCKET_URL=http://localhost:8090
